header{
    border-bottom: 1px solid #ccc;
    background: #F6A35F;
    color: #fff;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.3);
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    padding:10px 16px 10px ;
    z-index: 10;
}
header section a{
    color:#fff;
}