<div class="templateLayout">
        <div style="margin-top:20px;">
        <div style="margin:0 auto; width:100%; text-align:center"><button class="btn btn-action circle" (click)="addCard();"><i class="icon icon-plus"></i></button></div>
         
         <div id="{{card.id}}"  class="modal active"  [ondraggable]="true" *ngFor="let card of cards"
          [ngStyle]="{'position':'absolute', 'top':card.pos_top, 'left':card.pos_left}" (mouseup)="navCollapse(card.id);">
            <div class="modal-container">
                <div class="modal-header"><button class="btn btn-clear float-right" (click)="delete(card.id);"></button></div>
                <div class="modal-body">
                <div class="content">
                <div class="form-group"><textarea #textarea class="form-input" id="input-example-3" placeholder="Enter Comments" rows="3">{{card.content}}</textarea></div>
                </div>
                </div> 
                <div class="modal-footer">
                  <button [ngClass]="{'btn btn-primary':true, 'loading':open}" (click)="save(textarea.value, card.id);">Save</button>
                 </div>        
                </div>
        </div> <!-- Card End Here -->
        
        </div><!-- Inner Div Ends -->
</div> <!--Template Layout -->


 