<div class="templateLayout">
        <div style="margin-top:20px;">
        <div style="margin:0 auto; width:100%; text-align:center"><button class="btn btn-action circle" (click)="addCard()"><i class="icon icon-plus"></i></button></div>
        
                <div class="card" id="{{card.id}}"  [ondraggable]="true" *ngFor="let card of cards; let i=index"
          [ngStyle]="{'position':'absolute', 'top':card.pos_top, 'left':card.pos_left}" (mousedown)="show = i;">
                       
                        <div class="card-header">
                        <div class="card-title h5"><button class="btn btn-clear float-right" (click)="delete(card.id);"></button></div>
                        <div class="card-subtitle text-gray"></div>
                        </div>
                        <div class="card-body">
                        <textarea #textarea class="form-input" id="{{i}}card" placeholder="Enter Comments" rows="2" (keyup)="show=i;">{{card.content}}</textarea>
                        </div>
                        <div class="card-footer">
                        <button [ngClass]="{'btn btn-primary':true, 'disabled':show != i, 'loading':open }" (click)="save(textarea.value, card.id);">Save</button>
                        </div>
               </div> <!-- card End-->
               
               
        </div><!-- Inner Div Ends -->
</div> <!--Template Layout -->


 