<div class="pokerLayout">
      <div class="pokerbtn">
      <button [ngClass]="{'btn btn-action circle':true, 'disabled':pdisabled}" (click)="addPoker();">Poker</button>
      </div>
      <div class="container" *ng¬>
      <div class="columns">
            <div class="column col-3">
                <div class="card">
                      <div class="card-image">
                       
                      </div>
                      <div class="card-header">
                        <div class="card-title h5">Microsoft</div>
                        
                      </div>
                      <div class="card-body">
                       Pick your points!
                      </div>
                      
                      <div class="card-footer">
    
    <span *ngFor="let number of fibonacci | slice:1;" style="margin-right:5px; ">
    <button class="btn btn-primary" style="width:40px;margin-bottom:5px;" (click)="include(number)">{{number}}</button>
    </span>
    <span><button class="btn btn-primary" style="width:40px;margin-top:-5px;" (click)="include('&#8734;')">&#8734;</button></span>
    <span><button class="btn btn-primary" style="width:40px;" (click)="include('?')">?</button></span>
   
    <div style="margin-top:10px;"><button [ngClass]="{'btn btn-primary':true, 'disabled':disabled}" style="width:190px;" (click)="reveal(poker.id, name.value, choose)">Reveal</button></div>
                      </div>
                </div> <!-- #card End -->
            </div>
    
      </div>
      </div>
</div> <!-- PokeRLayout End -->