<div class="dashboardLayout">
      
      <div style="width:300px; margin:0 auto; margin-top:50px; ">
      <h6 style="border-left:5px solid #FDC355; padding-left:5px;">Create Your Own Board!</h6>
     

        <div class="form-group">
        <label class="form-label" for="input-example-1">Board Name</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Board Name" #boardname />
        </div> <!--Name Ends-->
        
        <div class="form-group">
        <label class="form-label" for="input-example-1">Description</label>
        <input class="form-input" type="text" id="input-example-1" placeholder="Description" #desc />
        </div> <!--Desc Ends-->

        <div class="form-group">
          <label class="form-label" for="input-example-1" >Templates</label>
          <select class="form-select" #template>
            <option *ngFor="let template of ctemplates" [value]="template.name">{{template.name}}</option>
           
          </select>
      </div> <!--Template -->
        <button [ngClass]="{'btn btn-primary':true, 'loading':open}" (click)="create(boardname.value, desc.value, template.value)">Create</button>
      </div> <!--Inner Container -->
</div>



     

<button (click)="add(content.value,comment.value );">Add</button>
<input type="text" #content/>
<input type="text" #comment/>

<div id="{{i+1}}"  *ngFor="let temp of templates; let i=index" [ondraggable]="true" #ondraggable (click)="fx(i+1)" >
  <span>{{i + 1}} - {{temp.content}}</span>
  <span>{{temp.comment}}</span>
</div>
<div class="column">
  
</div>
<p id="umar" [myHighlight] style="height:30px">Highlighted with parent component's color</p>