
  <!-- form input control -->
  <div class="form-group">
    <label class="form-label" for="input-example-1">Name</label>
    <input class="form-input" type="text" id="input-example-1" placeholder="Name" id="name" #name/>
  </div>
 

  
  <!-- form textarea control -->
  <div class="form-group">
    <label class="form-label" for="input-example-3">Message</label>
    <textarea class="form-input" id="input-example-3" placeholder="Textarea" rows="3" id="message" #message></textarea>
  </div>
 
    <!-- form select control -->
  <div class="form-group">
    <select class="form-select" id="template" #template>
      <option *ngFor="let temp of templates" [value]="temp.name">{{temp.name}}</option>  
    </select>
  </div>

  <div><button class="btn float-right" (click)="onCreate(name.value, message.value, template.value)">Create</button></div>
