/* You can add global styles to this file, and also import other style files */
#retroLoading{
    height: 100vh;
}
body{
    background: #FAFAFA;
}
/*Color Balance- #FAFAFA , #D6D2D9 #EA4885, #FDC355, #8A68CA #727C8E, F4D8AB, F6A35F*/

.btn.btn-primary{
    background:#FDC355;
    border-color:#FDC355;
}
.btn.btn-primary.active, .btn.btn-primary:active{
    background:#FDC355;
    border-color:#FDC355;
}
.btn.btn-primary:focus, .btn.btn-primary:hover{
     background:#FDC355;
    border-color:#FDC355;
}
.btn{
    background:#FDC355;
    border-color:#FDC355;
    color: #fff;
}

.btn:hover, .btn:focus {
    background:#FDC355;
    border-color:#FDC355;
    color: #fff;
}